<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/static.css">
  <title>Cam_Blog</title>
  <script src="/js/main.js">
  </script>
</head>
<body>
    {{{body}}}
</body>
</html>
