<script src="/js/home.js"></script>

<div class="mainBox">
    <h1>Welcome to my Webpage!!</h1>
    <p id="p1">This is a paragraph in a div box.</p>
    <button class="btn btn-primary" id="mainBtn">press me</button>
</div>