<script src="/js/login.js"></script>

<div class="main-Div">
  <h1>Please login below...</h1>
  <fieldset>
    <p>Select Country:</p>
    <select id="country">
      <option value="">select</option>
      <option value="USA">USA</option>
      <option value="Canada">Canada</option>
    </select>
  </fieldset>
  <fieldset>
    <p>Select State/Province</p>
    <select id="state"></select>
  </fieldset>
  <fieldset>
    <p id="uN">Username: <input type="text" value="Username" id="user"></input></p>
    <p id="pN">Password: <input type="text" value="Password" id="pw"></input></p>
    <input type="checkbox" value="disagree" id="T_F">Agree</input>
    <button type="button" class="btn btn-primary" id="formSub">Submit</button>
  </fieldset>
</div>