body {
  background-color: #DCDCDC;
  color: #000000;
  margin: 0 auto;
  overflow-y: scroll;
}

footer{
  position: absolute;
  bottom: 0;
  margin:20px;
}

fieldset{
  padding: 10px 10px 10px 10px;
}

.main-Div{
  margin: auto;
  text-align: center;
  width: 90%;
  padding: 20px 20px 20px 20px;
}


#gameBox{
  background-color: #000000;
  margin: auto;
  width: 800px;
  height: 700px;
  text-align: left;
}

#gameStart{
  
}